wandb
img
_scratch

*/.../*
.../*
ginn/ginn-env/*
ginn/all_runs/*
ginn/objgen/*
ginn/screenshots/*
ginn/myvis/data_gen/*
ginn/myvis/data_gen/grid_world1

ginn/pointnext/models/*
ginn/pointnext/.../*
ginn/pointnext/openpoints/*

old/depth/.../*
old/depth/depth-env/*
old/depth/depth5-env/*
old/depth/GroundingDINO/*

slurm_scripts/logs/*
slurm_scripts/adapter_logs/*

ginn/traj_outputs/*

baselines/my_depth_cbf/qrotor_sim_examples/logs/*
baselines/my_depth_cbf/qrotor_sim_examples/outs/*

*.ckpt
*.sh
*.zip
*.pt
*.pth
**/*.aux
**/*.log
**/*.nav
**/*.out
**/*.snm
**/*.synctex
**/*.bbl
**/*.blg
**/*.synctex.gz
**/*.toc
**/.ipynb_checkpoints
**/.idea
**/.vscode
# ignore __pycache__ folders
**/__pycache__
# # ignore __pycache__ folders in subfolders
__pycache__/*

# ignore .pytest_cache folders
**/.pytest_cache
# ignore .DS_Store files
**/.DS_Store

